#snooppic, #matthewpic, #lebronpic, #johnpic, #raccoonpic, #bunnypic, #squirrelpic, #gorillapic {
  max-width: 150px;
  border-style: solid;
  padding: 2px;
}

#celebrity {
  float:left;
  margin-right: 5%;
}

#ruby, #java, #python, #swift, #rust {
  display: none; 
  float: left;
}

#snoop, #matthew, #lebron, #john {
  display: none;
  float: left;
  text-align: right;
  margin: auto;
}

#racc, #bunn, #squir, #gorill {
  display: none;
  float: left;
  text-align: center;
}

#rubygif, #javagif, #pythongif, #snoopgif, #matthewgif, #lebrongif, #johngif, #coongif, #bungif, #squirgif, #gorgif, #rustgif, #swiftgif {
  max-height: 175px;
  border-style: solid;
  padding: 2px;
  margin: 5px;
}

#reset {
  display: none;
  float: right;
}

#invalid {
  display: none;
  text-align: center;
}

#expand {
  text-align: center;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

#output {
  font-size: x-large;
}

body {
  background-color: darkslategray;
  color: burlywood;
  font-family: monospace;
  font-weight: bold;
}

.red {
  background-color: darkred;
  color: white;
}

.green {
  background-color: darkgreen;
  color: blanchedalmond;
}

.blue {
  background-color: darkblue;
  color: beige;
}

.black {
  background-color: black;
  color: aqua;
}

.pink {
  background-color: pink;
  color: black;
}

.purple {
  background-color: blueviolet;
  color: darkgray;
}

