#snooppic, #matthewpic, #lebronpic, #johnpic, #raccoonpic, #bunnypic, #squirrelpic, #gorillapic {
  max-width: 150px;
  border-style: solid;
  padding: 2px;
}

#celebrity {
  float:left;
  margin-right: 5%;
}