#snooppic, #matthewpic, #lebronpic, #johnpic, #raccoonpic, #bunnypic, #squirrelpic, #gorillapic {
  max-width: 150px;
  border-style: solid;
  padding: 2px;
}

#celebrity {
  float:left;
  margin-right: 5%;
}

#ruby, #java, #python {
  display: none; 
  float: left;
}

#snoop, #matthew, #lebron, #john {
  display: none;
  float: left;
  text-align: right;
}

#racc, #bunn, #squir, #gorill {
  display: none;
  float: left;
  text-align: center;
}

#rubygif, #javagif, #pythongif, #snoopgif, #matthewgif, #lebrongif, #johngif, #coongif, #bungif, #squirgif, #gorgif  {
  max-height: 175px;
  border-style: solid;
  padding: 2px;
  margin: 5px;
}

#reset {
  display: none;
  float: right;
}

#invalid {
  display: none;
}

body {
  background-color: black;
  color: aqua;
}

#expand {
  text-align: center;
}

h1 {
  text-align: center;
  text-decoration: underline;
}